#map {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  width: 130%;
}
#timeDate {
  color: black;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
div.container {
  position: absolute;
  z-index: 2;
  top: 70px;
  left: 70px;
}
ul.data {
  text-align: center;
  padding: 10px;
}
input.city {
  margin: 20px;
  font-size: 20px;
}
span.units {
  display: inline-block;
}
