#map {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  width: 100%;
}
#timeDate {
  color: black;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

div.container {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  max-width: fit-content;
  top: 80px;
  z-index: 2;
}

ul.data {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
input.city {
  font-size: 20px;
}
span.units {
  display: inline-block;
  font-size: 30px;
}
#units {
  display: inline;
}
span.units:hover {
  cursor: pointer;
}
#src {
  margin: 20px;
}

#userCity,
#temp {
  font-size: 40px;
  font-weight: 600;
}

#icon {
  width: 100px;
}
#searchCity {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#conditions {
  font-size: 20px;
}
#list {
  margin: 30px;
}
#description {
  font-size: 20px;
  font-weight: 500;
}
