body {
  background-color: black;
  overflow: hidden;
}
#map {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  width: 100%;
}
#timeDate {
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

div.container {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  width: auto;
  z-index: 2;
  opacity: 85%;
  display: grid;
  justify-items: center;
  top: 20px;
}

input.city {
  font-size: 20px;
}
span.units {
  display: inline-block;
  font-size: 30px;
}
#units {
  display: inline;
}
span.units:hover {
  cursor: pointer;
}
#src {
  margin: 20px;
}

#userCity,
#temp {
  font-size: 40px;
  font-weight: 600;
}

#icon {
  width: 100px;
}
#searchCity {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

#conditions {
  font-size: 20px;
}
#list {
  margin: 30px;
}
#description {
  font-size: 20px;
  font-weight: 500;
}

#low {
  opacity: 60%;
}
#high {
  font-weight: 500;
}

input.city {
  text-align: center;
}
#forecast {
  display: flex;
  justify-content: space-around;
}
